* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

.stem-b-28 {
    font-family: 'Stem';
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
}

.stem-b-48 {
    font-family: 'Stem';
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.stem-b-64 {
    font-family: 'Stem';
    font-weight: bold;
    font-size: 64px;
    line-height: 68px;
    color: #FFFFFF;
}

.stem-m-24 {
    font-family: 'Stem Med';
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
}

.stem-m-18 {
    font-family: 'Stem Med';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.stem-r-13 {
    font-family: 'Stem';
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
}

.stem-r-18 {
    font-family: 'Stem';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.gilroy-sb-18 {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.gilroy-b-48 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.back {
    background-color: rgba(7, 59, 76, 0.4);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.btn {
    height: 56px;
    background-color: #EF476F;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    cursor: pointer;
}

/* header */

.header {
    height: 80px;
    background-color: #FFFFFF;
}

.header-left {
    float: left;
    margin-left: 10px;
    margin-top: 24px;
}

.logo {
    height: 70px;
    float: left;
    margin-left: 60px;
    margin-top: 5px;
}

.company {
    color: #000000;
    float: left;
}

.header-right {
    float: right;
    margin-right: 140px;
    margin-top: 17px;
}

.header-menu {
    float: right;
    padding-top: 11px;
}

.header-menu-text {
    color: rgba(0,0,0,0.7);
    margin-right: 24px;
}

.header-phone {
    float: right;
    margin-left: 40px;
}

.phone-text {
    color: rgba(0,0,0,0.7);
    text-align: right;
}

.phone-numb {
    color: #000000;
    text-align: right;
}

/* main */

.main {
    height: 798px;
    background: url("../img/background1.jpg") center center no-repeat;
    background-size: cover;
}

.main-left {
    width: 445px;
    float: left;
    margin-top: 238px;
    margin-left: 165px;
}

.main-title {
    text-align: left;
    margin-bottom: 24px;
}

.main-text {
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    margin-top: 24px;
}

.main-right {
    width: 445px;
    height: 460px;
    float: right;
    background-color: #FFFFFF;
    margin-right: 165px;
    margin-top: 169px;
    padding: 40px;
    border-radius: 16px;
}

.main-insp-text {
    color: #000000;
    text-align: left;
    margin-bottom: 24px;
}

.main-right input {
    width: 365px;
    height: 56px;
    margin-bottom: 12px;
    font-family: 'Stem';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgba(0,0,0,0.1);
    outline: none;
}

.main-right input::placeholder {
    color: rgba(0,0,0,0.2);
    opacity: 1;
}

.main-insp-btn {
    border-radius: 6px;
    width: 365px;
    margin-top: 4px;
    margin-bottom: 24px;
}

.main-insp-time {
    font-family: 'Stem Med';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0,0,0,0.4);
    text-align: center;
}

/* about */

.about {
    height: 720px;
    background-color: #FFFFFF;
}

.about-left {
    width: 540px;
    float: left;
    margin-top: 168px;
    margin-left: 165px;
}

.about-text1 {
    color: #118AB2;
    margin-bottom: 16px;
}

.about-text2 {
    color: #000000;
    margin-bottom: 16px;
}

.about-text3 {
    color: rgba(0,0,0,0.7);
    margin-bottom: 16px;
}

.about-text4 {
    color: rgba(0,0,0,0.7);
    margin-bottom: 32px;
}

.about-btn {
    width: 161px;
    border-radius: 4px;
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.about-right {
    position: relative;
    width: 445px;
    height: 520px;
    float: right;
    margin-right: 165px;
    margin-top: 100px;
}

.about-right div {
    position: absolute;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-right-img1 {
    width: 350px;
    height: 350px;
    margin-top: 170px;
    background-image: url(../img/about1.jpg);
    background-position: 0px -90px;
}

.about-right-img2 {
    width: 255px;
    height: 255px;
    margin-left: 190px;
    background-image: url(../img/about2.jpg);
    background-position: 0px -60px;
}

/* repair */

.repair {
    height: 946px;
    background: url("../img/background2.jpg") center center no-repeat;
    background-size: cover;
    text-align: center;
}

.repair h5 {
    font-family: 'Stem Med';
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 16px;
}

.repair-row1 p, .repair-row2 p {
    font-family: 'Stem';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
}

.repair-header {
    width: 730px;
    height: 154px;
    margin: 0 auto;
    margin-top: 120px;
}

.repair-header-text1 {
    margin-bottom: 24px;
}

.repair-header-text2 {
    color: rgba(255, 255, 255, 0.6);
}

.repair-row1 {
    width: 1110px;
    height: 188px;
    margin: 0 auto;
    margin-top: 64px;
}

.repair-row2 {
    width: 1110px;
    height: 236px;
    margin: 0 auto;
    margin-top: 64px;
}

.row1-cell {
    width: 350px;
    height: 188px;
}

.row2-cell {
    width: 350px;
    height: 236px;
}

.row1-cell1 {
    float: left;
}

.row1-cell3 {
    float: right;
}

.row1-cell2 {
    margin: 0 auto;
}

.row2-cell1 {
    float: left;
}

.row2-cell3 {
    float: right;
}

.row2-cell2 {
    margin: 0 auto;
}

.cell-icon {
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-position: -40px -32px;
    margin: 0 auto;
}

.r1-icon1 {
    background-image: url(../img/icon01.png);
}

.r1-icon2 {
    background-image: url(../img/icon02.png);
}

.r1-icon3 {
    background-image: url(../img/icon03.png);
}

.r2-icon1, .r2-icon2, .r2-icon3 {
    background-image: url(../img/icon04.png);
}

/* garant */

.garant {
    width: 1440px;
    height: 627px;
    background-color: #FFFFFF;
    padding-top: 100px;
}

.garant-main {
    width: 1109px;
    height: 427px;
    background-color: #F7F8FA;
    margin: 0 auto;
    padding-top: 80px;
}

.garant-icon {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background-image: url(../img/quote.png);
    background-position: center;
    background-repeat: no-repeat;
}

.garant-text1 {
    line-height: 54px;
    color: #000000;
    margin: 32px 0;
}

.garant-text2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

/* gallery */

.gallery {
    width: 1440px;
    height: 798px;
}

.gallery-menu {
    height: 20px;
}

.gallery-view {
    width: 1440px;
    height: 778px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    display: none;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-view .gallery-img:first-of-type {
    display: block;
}

.gallery-view:has(.gallery-img:target) .gallery-img:first-of-type:not(:target) {
    display: none;
}

.gallery-view .gallery-img:target {
    display: block;
  }

/* sertif */

.sertif {
    width: 1440px;
    height: 509px;
    background-color: #F2F2F2;
    padding: 120px 165px;
}

.sertif-text {
    width: 231px;
    height: 280px;
    float: left;
}

.sertif-text1 {
    color: #000000;
    margin-bottom: 16px;
}

.sertif-text2 {
    color: rgba(0,0,0,0.8);
}

.sertif-photo {
    width: 855px;
    height: 255px;
    float: right;
}

.sertif-img {
    width: 255px;
    height: 255px;
    float: right;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-left: 30px;
    padding: 32px;
}

.sertif-img3 {
    width: 191px;
    height: 191px;
    background-image: url(../img/sertif.png);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: -381px -23px;
}

.sertif-img2 {
    width: 191px;
    height: 191px;
    background-image: url(../img/sertif.png);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 0px -23px;
}

.sertif-img1 {
    width: 191px;
    height: 191px;
    background-image: url(../img/sertif.png);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: -190px -23px;
}

.price {
    height: 832px;
    background: url("../img/background4.jpg") center center no-repeat;
    background-size: cover;
}

.price-header {
    width: 730px;
    height: 92px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}

.price-header-line1 {
    color: #FFFFFF;
    line-height: 52px;
}

.price-header-line2 {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 16px;
}

.price-main {
    width: 730px;
    height: 456px;
    margin: 0 auto;
    margin-top: 64px;
}

.price-main-line {
    width: 730px;
    height: 56px;
    margin-top: 24px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color:  rgba(255, 255, 255, 0.2);

}

.price-main-line p {
    font-family: 'Stem';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
 }

.price-main-line:last-of-type {
    border-bottom-style: none;
}

.price-line-left {
    width: 200px;
    height: 56px;
    float: left;
}

.price-line-right {
    width: 200px;
    height: 56px;
    float: right;
}

.price-text-left {
    
}

.price-text-right {
    float: right;
}

.price-footer {
    width: 730px;
    height: 36px;
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
}

.price-footer-line1 {
    color: rgba(255, 255, 255, 0.8);
}

.team {
    height: 785px;
    background-color: #FFFFFF;
}

.team-top {
    width: 720px;
    height: 214px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

.team-top-line1 {
    font-size: 28px;
    color: #118AB2;
}

.team-top-line2 {
    margin-top: 24px;
    color: #000000;
}

.team-top-line3 {
    margin-top: 24px;
    color: rgba(0, 0, 0, 0.7);
}

.team-bottom {
    width: 1110px;
    height: 267px;
    margin: 0 auto;
    margin-top: 64px;
    text-align: center;
}

.team-bottom > div {    /* только div первого уровня вложенности */
    width: 255px;
    height: 267px;
}

.team-bottom-block1 {
    float: left;
}

.team-bottom-block2 {
    float: left;
    margin-left: 30px;
}

.team-bottom-block4 {
    float: right;
}

.team-bottom-block3 {
    float: right;
    margin-right: 30px;
}

.team-bottom-img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.team-bottom-img1 {
    background-image: url(../img/team_1.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -40px -100px;
}

.team-bottom-img2 {
    background-image: url(../img/team_2.jpg);
    background-size: 100%;
    background-position: 0px -45px;
}

.team-bottom-img3 {
    background-image: url(../img/team_3.jpg);
    background-size: 200%;
    background-position: -70px 0px;
}

.team-bottom-img4 {
    background-image: url(../img/team_4.jpg);
    background-size: 230%;
    background-position: -120px -70px;
}

.team-bottom-line1 {
    margin-top: 24px;
}

.team-bottom-line2 {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.7);
}

.help {
    height: 464px;
    background-color: #118AB2;
    overflow: hidden;
}

.help-top-text {
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}



.help-btn {
    width: 213px;
    border-radius: 4px;
}


