@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-Medium.eot');
    src: local('TT Firs Neue Medium'), local('TTFirsNeue-Medium'),
        url('TTFirsNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTFirsNeue-Medium.woff2') format('woff2'),
        url('TTFirsNeue-Medium.woff') format('woff'),
        url('TTFirsNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeue-DemiBold.eot');
    src: local('TT Firs Neue DemiBold'), local('TTFirsNeue-DemiBold'),
        url('TTFirsNeue-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('TTFirsNeue-DemiBold.woff2') format('woff2'),
        url('TTFirsNeue-DemiBold.woff') format('woff'),
        url('TTFirsNeue-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}