* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* шаблон */
.block-main {
    width: 100%;
    height: 890px;
    background-color: #EED198;
}

.main-main {
    width: 1270px;
    height: 890px;
    margin: 0 auto;
    color: #241913;
    padding-top: 100px;
}

.qqq-header {
    width: 1270px;
    height: 93px;
    display: flex;
    justify-content: center;
}

.qqq-h3 {
    width: 476px;
    height: 93px;
}

.qqq-bl1 {
    width: 1270px;
    height: 570px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

/* шаблон */


.benz-b-80 {
    font-family: 'Benzin';
    font-weight: bold;
    font-size: 80px;
    line-height: 93px;
}

.benz-b-70 {
    font-family: 'Benzin';
    font-weight: bold;
    font-size: 70px;
    line-height: 74px;
}

.benz-b-60 {
    font-family: 'Benzin';
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
}

.benz-b-55 {
    font-family: 'Benzin';
    font-weight: bold;
    font-size: 55px;
    line-height: 59px;
}

.benz-b-45 {
    font-family: 'Benzin';
    font-weight: bold;
    font-size: 45px;
    line-height: 49px;
}

.benz-b-35 {
    font-family: 'Benzin';
    font-weight: bold;
    font-size: 35px;
    line-height: 39px;
}

.benz-b-30 {
    font-family: 'Benzin';
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
}

.benz-m-35 {
    font-family: 'Benzin';
    font-weight: 500;
    font-size: 35px;
    line-height: 39px;
}

.benz-m-25 {
    font-family: 'Benzin';
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
}

.benz-m-22 {
    font-family: 'Benzin';
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

.benz-m-20 {
    font-family: 'Benzin';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.benz-m-14 {
    font-family: 'Benzin';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.benz-m-12 {
    font-family: 'Benzin';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.benz-r-20 {
    font-family: 'Benzin';
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.benz-r-19 {
    font-family: 'Benzin';
    font-weight: normal;
    font-size: 19px;
    line-height: 38px;
}

.benz-r-18 {
    font-family: 'Benzin';
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.benz-r-17 {
    font-family: 'Benzin';
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
}

.benz-r-16 {
    font-family: 'Benzin';
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.benz-r-15 {
    font-family: 'Benzin';
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
}

.benz-r-14 {
    font-family: 'Benzin';
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.benz-r-13 {
    font-family: 'Benzin';
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
}

.benz-r-12 {
    font-family: 'Benzin';
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.benz-r-11 {
    font-family: 'Benzin';
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

.benz-s-17 {
    font-family: 'Benzin';
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
}

.benz-s-30 {
    font-family: 'Benzin';
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
}

.firs-d-100 {
    font-family: 'TT Firs Neue';
    font-weight: 600;
    font-size: 100px;
    line-height: 52px;
}

.firs-d-35 {
    font-family: 'TT Firs Neue';
    font-weight: 600;
    font-size: 35px;
    line-height: 38px;
}

.firs-m-16 {
    font-family: 'TT Firs Neue';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}


/* header */

.block-header {
  position: relative;
  width: 100%;
  height: 718px;
}

.header-bgr-1 {
    width: 100%;
    height: 270px;
    background-color: #EED198;
}

.header-bgr-2 {
    width: 100%;
    height: 448px;
    background-color: #F8DDAE;
}

/* Контент накладывается поверх обоих фонов */
.content-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header-main {
    position: relative;
    width: 1270px;
    height: 718px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header-bgr-4 {
    position: absolute;
    bottom: 0;
    right: -145px;
    width: 539px;
    height: 438px;
    background: url("../img/dog_cat.png") center center no-repeat;
    background-size: cover;
}

.header-bl1 {
    width: 1270;
    height: 175px;
    display: flex;
    justify-content: space-between;
}

.header-bl1-left {
    width: 210px;
    height: 175px;
}

.header-logo {
    width: 76px;
    height: 81px;
    background: url("../img/logo.png") center center no-repeat;
    background-size: cover;
    margin-top: 21px;
    margin-left: 13px;
}

.header-bl1-str1 {
    margin-top: 5px;
    margin-bottom: 7px;
    color: #000000;
}

.header-bl1-str2 {
    color: rgba(0,0,0,0.7);
}

.header-bl1-right {
    width: 270px;
    height: 175px;
    margin-top: 51px;
    text-align: right;
}

.header-soc {
    width: 266px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.header-soc1 {
    width: 59px;
    height: 59px;
    background: url("../img/soc1.gif") center center no-repeat;
    background-size: cover;
}

.header-soc2 {
    width: 59px;
    height: 59px;
    background: url("../img/soc2.gif") center center no-repeat;
    background-size: cover;
}

.header-soc3 {
    width: 59px;
    height: 59px;
    background: url("../img/soc3.gif") center center no-repeat;
    background-size: cover;
}

.header-soc4 {
    width: 59px;
    height: 59px;
    background: url("../img/soc4.gif") center center no-repeat;
    background-size: cover;
}

.header-btn1 {
    width: 197px;
    height: 45px;
    background-color: #EED198;
    color: rgba(36, 25, 19, 0.6);
    text-align: center;
    border-width: 2px;
    border-radius: 53px;
    border-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.header-menu {
    height: 30px;
    margin-top: 30px;
}

.header-menu-text {
    text-decoration: none;
    color: rgba(36, 25, 19, 0.6);
    margin-right: 26px;
}

.header-menu-text1 {
    text-decoration: none;
    color: #000000;
    margin-right: 26px;
}

.header-bl2 {
    width: 1010px;
    height: 186px;
}

.header-h1 {
    color: #241913;
}

.header-bl3 {
    width: 521px;
    height: 62px;
    margin-top: 20px;
    display: flex;
}

.header-btn2 {
    width: 200px;
    height: 62px;
    background-color: #FFEDCB;
    color: #241913;
    text-align: center;
    border: none;
    cursor: pointer;
}

.header-bl3-1 {
    width: 62px;
    height: 62px;
    background: url("../img/play.png") center center no-repeat;
    background-size: cover;
    margin-left: 20px;
    margin-right: 12px;
}

.header-bl3-2 {
    width: 230px;
    height: 34px;
    margin-top: 12px;
}

.header-bl3-str1 {
    color: rgba(36, 25, 19, 0.8);
}

.header-bl3-str2 {
    color: rgba(36, 25, 19, 0.5);
}

.header-bl4 {
    width: 581px;
    height: 102px;
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

.header-bl4-1 {
    width: 177px;
    height: 102px;
}

.header-bl4-str1 {
    color: #241913;
}

.header-bl4-str2 {
    margin-top: 10px;
    color: rgba(36, 25, 19, 0.7);
}

/* otd */

.block-otd {
    width: 100%;
    height: 890px;
    background-color: #EED198;
}

.otd-gallery {
    width: 1270px;
    height: 890px;
    margin: 0 auto;
    background-color: #EED198;
    padding-top: 80px;
}

.otd-gallery-header {
    width: 100%;
    height: 93px;
    margin: 0 auto;
}

.otd-gallery-txt1 {
    color: #241913;
}

.otd-gallery-main {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.otd-gallery-left {
    width: 437px;
    height: 100%;
}

.otd-gallery-txt2 {
    height: 93px;
    color: rgba(36, 25, 19, 0.8);
}

.otd-gallery-txt3 {
    height: 74px;
    line-height: 25px;
    margin-bottom: 24px;
    color: #241913;
}

.otd-gallery-right {
    width: 764px;
    height: 100%;
}

.otd-gallery-img {
    width: 100%;
    height: 406px;
    border-style: solid;
    border-width: 9px;
    border-radius: 14px;
    border-color: #F8DDAE;
}

.otd-g-img1 {
    background: url("../img/image_01.jpg") center center no-repeat;
    background-size: cover;
}

.otd-g-img2 {
    background: url("../img/image_02.jpg") center center no-repeat;
    background-size: cover;
}

.otd-g-img3 {
    background: url("../img/image_03.jpg") center center no-repeat;
    background-size: cover;
}

.otd-gallery-control {}

.otd-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.otd-btn-l {
    background: url('../img/gal_l.png') no-repeat center center;
}

.otd-btn-r {
    background: url('../img/gal_r.png') no-repeat center center;
}

#carousel1 .owl-nav {
    width: 112px;
    height: 50px;
    margin: 0 auto;
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

/* map */

.block-map {
    width: 100%;
    height: 500px;
    background-color: #EED198;
}

.otd-map {
    width: 1270px;
    height: 500px;
    margin: 0 auto;
}

.otd-map-main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.otd-map-left {
    width: 437px;
    height: 100%;
}

.otd-map-adr {
    width: 437px;
    height: 129px;
    border-radius: 13px;
    background-color: #FFEDCB;
    padding: 2px 14px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.otd-map-txt1 {
    width: 215px;
    height: 23px;
    color: #241913;
}

.otd-map-txt2 {
    width: 326px;
    height: 30px;
    color: #241913;
}

.otd-map-txt2::before {
    content: url(../img/geo.png) ' ';
    vertical-align: middle;
}

.otd-map-txt3 {
    width: 165px;
    height: 18px;
    color: #241913;
}

.otd-map-txt4 {
    width: 195px;
    height: 18px;
    color: #241913;
    margin-left: 45px;
}

.otd-map-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.otd-adr-btn1 {
    width: 206px;
    height: 45px;
    background-color: #FFEDCB;
    color: #241913;
    text-align: center;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}

.otd-map-img {
    width: 764px;
    height: 406px;
    border-style: solid;
    border-width: 9px;
    border-radius: 14px;
    border-color: #F8DDAE;
    position:relative;
    overflow:hidden;
}

/* uslugi */

.block-usl {
    width: 100%;
    height: 532px;
    background-color: #FFEDCB;
}

.usl {
    width: 1370px;
    height: 532px;
    margin: 0 auto;
}

.usl-01, .usl-02, .usl-03 {
    width: 1370px;
    height: 532px;
    position: relative;
}

.usl-01-main {
    width: 625px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.usl-btn-otd {
    width: 148px;
    height: 37px;
    background-color: #FFEDCB;
    color: #241913;
    text-align: center;
    border: solid;
    border-width: 2px;
    border-radius: 13px;
    border-color: #000000;
    cursor: pointer;
    margin-top: 53px;
}

.usl-01-txt1 {
    height: 93px;
    color: #241913;
    margin-top: 7px;
    padding-top: 10px;
}

.usl-01-txt2 {
    height: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 13px;
}

.usl-01-bl1 {
    width: 521px;
    height: 62px;
    margin-top: 38px;
    display: flex;
}

.usl-btn-price {
    width: 200px;
    height: 62px;
    background-color: #241913;
    color: #FFFFFF;
    text-align: center;
    border: none;
    cursor: pointer;
}

.usl-01-control {}

.usl-btn {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.usl-btn-l {
    background: url('../img/otd_l.png') no-repeat center center;
}

.usl-btn-r {
    background: url('../img/otd_r.png') no-repeat center center;
}

#carousel2 .owl-nav {
    position: relative;
}

#carousel2 .owl-prev {
    position: absolute;
    top: -75px;
    left: 0px;
}

#carousel2 .owl-next {
    position: absolute;
    top: -75px;
    left: 60px;
}

.usl-01-img {
    position: absolute;
    bottom: 0;
    right: 37px;
    width: 633px;
    height: 410px;
    background: url("../img/image_10.png") center center no-repeat;
    background-size: cover;
}

.usl-02-img {
    position: absolute;
    bottom: 0;
    right: 89px;
    width: 423px;
    height: 486px;
    background: url("../img/image_11.png") center center no-repeat;
    background-size: cover;
}

.usl-03-img {
    position: absolute;
    bottom: 0;
    right: 42px;
    width: 380px;
    height: 428px;
    background: url("../img/image_12.png") center center no-repeat;
    background-size: cover;
}

.usl-fon1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.usl-fon2 {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

.block-bl1 {
    width: 100%;
    height: 130px;
    background-color: #EED198;
}

/* footer */

.block-footer {
    width: 100%;
    height: 360px;
    background-color: #F8DDAE;
}

.footer {
    width: 1270px;
    height: 360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 380px;
    height: 100%;
    padding-top: 56px;
}

.footer-logo {
    width: 70px;
    height: 75px;
    background: url("../img/logo.png") center center no-repeat;
    background-size: cover;
}

.footer-l-str1 {
    margin-top: 10px;
}

.footer-l-str2 {
    margin-top: 8px;
}

.footer-l-str3 {
    margin-top: 16px;
}

.footer-soc {
    margin-top: 30px;
}

.footer-soc1 {
    margin-right: 23px;
}

.footer-right {
    width: 800px;
    height: 170px;
    margin-top: 113px;
    display: flex;
    justify-content: space-between;
}

.footer-right p {
    width: 280px;
    height: 29px;
    color: #000000;
}

.footer-r-bl1 {
    width: 280px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-r-bl2 {
    width: 200px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-r-bl3 {
    width: 280px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-r-bl2 a {
    width: 280px;
    height: 29px;
    text-decoration: none;
    color: #000000;
}

.footer-str1 {
    text-align: right;
}

.footer-btn {
    width: 200px;
    height: 47px;
    background-color: #F8DDAE;
    color: #000000;
    text-align: center;
    border: solid;
    border-width: 2px;
    border-color: #000000;
    cursor: pointer;
    margin-top: 10px;
}

/* история */

.block-hist {
    width: 100%;
    background-color: #EED198;
    padding-bottom: 80px;
}

.hist-main {
    width: 1270px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #241913;
    padding-top: 100px;
}

.hist-header {
    width: 1270px;
    height: 93px;
    display: flex;
    justify-content: center;
}

.hist-h3 {
    width: 476px;
    height: 93px;
}

.hist-bl1 {
    width: 1270px;
    height: 570px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.hist-bl1-1 {
    width: 301px;
}

.hist-bl1-2 {
    width: 490px;
    height: 570px;
    background: url("../img/image_13.png") center center no-repeat;
    background-size: cover;
}

.hist-bl1-3 {
    width: 335px;
    text-align: right;
}

.hist-bl2 {
    width: 1270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.hist-bl2 p {
    text-align: center;
}

.hist-h6 {
    width: 175px;
    height: 54px;
    border-radius: 56px;
    background-color: #FFEDCB;
    text-align: center;
    padding-top: 18px;
    margin-bottom: 35px;
}

.hist-btn-yt {
    width: 175px;
    height: 54px;
    border: none;
    border-radius: 56px;
    background-color: #FFEDCB;
    cursor: pointer;
    padding-top: 4px;
    margin-bottom: 35px;
}

.hist-bl-yt {
    width: 1081px;
    height: 576px;
    margin: 0 auto;
    border-radius: 27px;
    margin-top: 70px;
}

.hist-fr-yt {
    width: 1081px;
    height: 576px;
}

.hist-txt1::before {
    content: '•';
    margin-right: 5px; 
}

/* услуги */

.block-uslugi {
    width: 100%;
    height: 1200px;
    background-color: #EED198;
}

.uslugi-main {
    width: 1270px;
    height: 1200px;
    margin: 0 auto;
    color: #241913;
    padding-top: 100px;
}

.uslugi-header {
    width: 1270px;
    height: 93px;
}

.uslugi-h3 {
    width: 476px;
    height: 93px;
}

.uslugi-bl1 {
    width: 1270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.uslugi-tile1 {
    width: 410px;
    height: 422px;
    background-color: #FFEDCB;
    border-radius: 19px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.uslugi-tile2 {
    margin-right: 0;
}

.uslugi-str {
    width: 215px;
    height: 62px;
    margin-top: 28px;
    margin-left: 31px;
}

.uslugi-bl-img {
    position: relative;
    width: 180px;
    height: 300px;
    border-radius: 90px;
    margin-left: 20px;
}

.uslugi-fon {
    position: absolute;
    bottom: 0;
    left: 0;
}

.uslugi-btn {
    width: 63px;
    height: 63px;
    border: none;
    border-radius: 31px;
    cursor: pointer;
    background: url('../img/usl_r.png') no-repeat center center;
    margin-top: 237px;
    margin-left: 132px;
}

.uslugi-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 300px;
    border-radius: 90px;
}

.uslugi-img1 {
    background: url("../img/image_14.png") center center no-repeat;
    background-size: cover;
}

.uslugi-img2 {
    background: url("../img/image_15.png") center center no-repeat;
    background-size: cover;
}

.uslugi-img3 {
    background: url("../img/image_16.png") center center no-repeat;
    background-size: cover;
}

.uslugi-img4 {
    background: url("../img/image_17.png") center center no-repeat;
    background-size: cover;
}

.uslugi-img5 {
    background: url("../img/image_18.png") center center no-repeat;
    background-size: cover;
}

/* прием */

.block-priem {
    width: 100%;
    height: 1160px;
    background-color: #EED198;
}

.priem-main {
    width: 1270px;
    height: 1160px;
    margin: 0 auto;
    color: #241913;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.priem-btn1 {
    width: 170px;
    height: 55px;
    border-radius: 12px;
    color: #241913;
    background-color: #FFEDCB;
    text-align: center;
    border: none;
    text-decoration: none;
    padding-top: 17px;
}

.priem-header {
    width: 535px;
    margin-top: 40px;
}

.priem-point-1, .priem-point-2, .priem-point-3 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 11px;
}

.priem-point-1 {
    background-color: #4FC0FF;
}

.priem-point-2 {
    background-color: #EABC66;
}

.priem-point-3 {
    background-color: #FF2976;
}

.priem-bl1 {
    width: 100%;
    height: 463px;
    background-color: #FFEDCB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}

.priem-str {
    width: 100%;
    height: 65px;
    background-color: #EED9B2;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.priem-str2 {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    padding-left: 28px;
    padding-right: 28px;
}

.priem-str3 {
    justify-content: space-between;
    padding-left: 85px;
    padding-right: 40px;
}

.priem-btn2 {
    width: 80px;
    height: 65px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
}

.priem-txt1 {
    width: 1145px;
    height: 22px;
    color: #241913;
    margin-left: 11px;
}

.priem-txt-l {
    width: 330px;
    height: 30px;
    color: #241913;
}

.priem-bl-r {
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.priem-txt-r {
    width: 120px;
    height: 30px;
    color: #241913;
    margin-left: 16px;
}

.priem-bl2 {
    width: 100%;
    height: 174px;
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
}

.priem-bl3 {
    width: 390px;
    height: 174px;
}

.priem-btn3 {
    position: relative;
    width: 390px;
    height: 74px;
    border-radius: 8px;
    color: #000000;
    background-color: #FFEDCB;
    border: none;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priem-bl-minus, .priem-bl-plus {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.15);
}

.priem-bl-plus {
    position: absolute;
    bottom: 12px;
    right: 15px;
}

.priem-add {
    width: 390px;
    height: 100px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #FFEDCB;
}

.priem-add-txt {
    width: 335px;
    height: 72px;
    color: #000000;
    line-height: 171%;
    margin-left: 23px;
}

/* чек-ап */

/* Контейнер карточки */
.card1 {
    width: 410px;
    height: 422px;
    perspective: 1000px;
    border-radius: 19px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card2 {
    margin-right: 0;
}

/* Внутренний элемент, который будет анимироваться */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

/* Общие стили сторон */
.card-front, .card-back {
    position: absolute;
    inset: 0;
    border-radius: 19px;
    backface-visibility: hidden;
}

.card-front {
    background-color: #F7DCAE;
    padding-left: 28px;
}

.card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7DCAE;
    transform: rotateY(180deg);
}

.check-str1, .check-str2, .check-str3, .check-str5, .check-str7, .check-str8, .check-str9, .check-str10 {
    color: #241913;
}

.check-str5, .check-str6, .check-str7, .check-str8, .check-str9, .check-str10 {
    text-align: center;
}

.check-str1 {
    width: 370px;
    margin-top: 33px;
}

.check-str2 {
    width: 360px;
    margin-top: 9px;
    line-height: 26px;
}

.check-str3 {
    width: 295px;
    margin-top: 7px;
    line-height: 30px;
}

.check-str4 {
    width: 150px;
    margin-top: 15px;
    color: #FF3850;
}

.check-str5 {
    width: 336px;
    height: 257px;
    line-height: 23px;
}

.check-str6 {
    width: 336px;
    height: 51px;
    color: rgba(36, 25, 19, 0.5);
    margin-top: 40px;
}

.check-str7 {
    width: 363px;
    height: 381px;
    line-height: 19px;
}

.check-str8 {
    width: 370px;
    height: 361px;
    line-height: 19px;
}

.check-str9 {
    width: 336px;
    height: 321px;
    line-height: 23px;
}

.check-str10 {
    width: 336px;
    height: 326px;
    line-height: 19px;
}

.check-fon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.check-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.check-img1 {
    width: 204px;
    height: 188px;
    border-bottom-right-radius: 19px;
    background: url("../img/image_19.png") center center no-repeat;
    background-size: cover;
}

.check-img2 {
    width: 147px;
    height: 197px;
    border-bottom-right-radius: 19px;
    background: url("../img/image_20.png") center center no-repeat;
    background-size: cover;
}

.check-img3 {
    width: 155px;
    height: 211px;
    border-bottom-right-radius: 19px;
    background: url("../img/image_21.png") center center no-repeat;
    background-size: cover;
}

/* Применяем анимацию flip-vertical-left при hover */
.card1:hover .card-inner {
    animation: flip-vertical-left 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes flip-vertical-left {
    0% {
    transform: rotateY(0);
    transform-origin: rotateY(0);
    }
    100% {
    transform: rotateY(-180deg);
    transform-origin: rotateY(0);
    }
}

/* врачи */

.block-medic {
    width: 100%;
    height: 1280px;
    background-color: #EED198;
}

.medic-main {
    width: 1408px;
    height: 1280px;
    margin: 0 auto;
    color: #241913;
    padding-top: 100px;
}

.medic-header {
    width: 1408px;
    height: 280px;
}

.medic-h3 {
    width: 1060px;
    height: 280px;
}

.medic-bl1 {
    width: 1408px;
    height: 730px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.medic-card {
    width: 681px;
    height: 207px;
    background-color: #FFEDCB;
    border-radius: 22px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 35px;
    margin-bottom: 51px;
}

.medic-card-img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background: url("../img/image_22.png") center center no-repeat;
    background-size: cover;
}

.medic-card-txt {
    width: 461px;
    height: 126px;
}

.medic-card-str1 {
    width: 320px;
    height: 76px;
    color: rgba(0, 0, 0, 0.8);
}

.medic-card-str2 {
    width: 461px;
    height: 40px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
}

.medic-txt0 {
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 30px;
    left: -20px;
}

/* адаптив */

@media all and (max-width: 1580px) {
    .header-main, .otd-gallery, .otd-map, .usl, .usl-01, .usl-02, .usl-03, .footer {
        width: 1024px;
    }

    .header-bgr-4 {
        right: 0;
        width: 465px;
        height: 378px;
    }

    .footer-soc {
        display: none;
    }
    
    .footer-r-bl1 {
        display: none;
    }

    .footer-right {
        justify-content: flex-end;
    }

    .otd-gallery-left {
        width: 250px;
    }

    .otd-gallery-txt2 {
        font-size: 35px;
        line-height: 39px;
    }

    .otd-gallery-txt3 {
        height: 124px;
    }

    .otd-map-left, .otd-map-adr {
        width: 360px;
    }

    .otd-map-txt4 {
        margin: 0;
    }

    .otd-adr-btn1 {
        width: 150px;
    }

    .otd-map-img {
        width: 654px;
    }

    .usl-fon1 {
        display: none;
    }

    .usl-fon2 {
        display: block;
    }

    .usl-01-img {
        right: 25px;
        width: 422px;
        height: 273px;
    }

    .usl-02-img {
        right: 55px;
        width: 282px;
        height: 324px;
    }

    .usl-03-img {
        right: 25px;
        width: 253px;
        height: 285px;
    }



}






















@media all and (max-width: 1030px) {
    .header-bgr-1, .header-bgr-2, .header-bl1-str1, .header-bl1-str2, .header-bl1-right,
    .header-bl3-2, .header-bl4, .otd-gallery-left, .usl-01-bl1, .footer-str1
    {
        display: none;
    }




    .header-main {
        width: 340px;
        background-color: greenyellow;
    }

    .header-bl1 {
        width: 100%;
        height: 160px;
    }

    .header-bl1-left {
        width: 100%;
        height: 100%;
    }

    .header-menu {
        width: 136px;
        height: 300px;
    }

    .header-menu a {
        font-size: 12px;
        line-height: 16px;
        color:#000000;
    }



    .header-logo {
        width: 70px;
        height: 75px;
        margin-top: 36px;
        margin-left: 16px;
    }

    .header-bl2 {
        width: 100%;
        height: 70px;
    }

    .header-h1 {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }

    .header-bl3 {
        width: 100%;
        height: 46px;
        justify-content: center;
        margin-top: 22px;
    }

    .header-btn2 {
        width: 149px;
        height: 46px;
        font-size: 11px;
        line-height: 15px;
    }

    .header-bl3-1 {
        width: 46px;
        height: 46px;
        margin: 0 0 0 8px;
    }


    .header-bgr-4 {
        position: relative;
        width: 313px;
        height: 254px;
        margin: 0 auto;
    }

}